.textContent {
	display: flex;
	flex-flow: row wrap;
	padding: 20px;
}
.textContent > * + * {
	padding: 7px 0 0;
}

.card > *,
.textContent > * {
	flex: 1 1 100%;
}

.metaData {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	font-size: 10px;
	line-height: 12px;
}

.publishedLabel {
	display: none;
}

.createdAt,
.createdAt span {
	color: var(--grey99);
}

/* user-link */
.userLink {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 20px;
	padding: 0 6px 0 0;
}

.avatar {
	border-radius: 20px;
	width: 20px;
	height: 20px;
	margin: 0 7px 0 0;
}

.username {
	color: var(--orange);
	position: relative;
	z-index: 1;
}

/* title  */
.title {
	font-size: 16px;
	line-height: 19px;
	font-weight: normal;
	margin: 0;
}

.postLink {
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
}

.postLink::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@media all and (min-width: 1024px) {
	.userLink {
		padding: 0 0 0 5px;
	}
}

@media all and (min-width: 1540px) {
	.userLink:hover a {
		text-decoration: underline;
	}
}

@media all and (min-width: 1024px) {
	.textContent {
		flex-basis: 540px;
		order: 1;
		margin: 0 0 0 38px;
		flex-flow: column-reverse nowrap;
		justify-content: center;
	}

	.textContent > * {
		flex: 0 0;
	}

	.title {
		padding: 0 0 10px 0;
		font-size: 20px;
		line-height: 23px;
	}

	.postLink {
		-webkit-line-clamp: 1;
	}
}

@media all and (min-width: 1540px) {
	.textContent {
		flex-basis: 672px;
	}
}

@media all and (min-width: 1024px) {
	.textContent {
		flex-basis: 540px;
		order: 1;
		margin: 0 0 0 38px;
		flex-flow: column-reverse nowrap;
		justify-content: center;
	}
	.textContent > * {
		flex: 0 0;
	}

	.metaData {
		flex-flow: row-reverse nowrap;
		justify-content: flex-end;
		font-size: 14px;
		line-height: 16px;
	}

	.publishedLabel {
		display: inline;
	}
}

@media all and (min-width: 1540px) {
	.textContent {
		flex-basis: 672px;
	}
}
